@import url(http://fonts.googleapis.com/css?family=Ubuntu);
* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
.center {
  margin: auto;
}
.width_max {
  width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
  overflow: hidden;
}
.inline {
  display: inline-block;
}
.op {
  opacity: 0.5;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.space_small {
  padding: 5px;
}
.space_normal {
  padding: 10px;
}
.space_big {
  padding: 25px;
}
.text_center {
  text-align: center;
}
.text_justify {
  text-align: justify;
}
.text_up {
  text-transform: uppercase;
}
.text_bold {
  font-weight: bold;
}
.text_small {
  font-size: 9px;
}
.text_normal {
  font-size: 14px;
}
.text_big {
  font-size: 18px;
}
.text_large {
  font-size: 22px;
}
.text_extra {
  font-size: 38px;
}
.text_shadow {
  text-shadow: 1px 1px 1px #000000;
}
.border_small {
  border-width: 1px;
  border-style: solid;
  border-color: #969696;
}
.border_small_bot {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.popup {
  min-width: 1%;
  min-height: 1%;
  display: none;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  position: fixed;
  z-index: 10;
}
.close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.fog {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  display: none;
  background-color: #000000;
  top: 0;
}
body {
  font-family: 'Arial';
}
.text_gray_light {
  color: #969696;
}
.text_gray_dark {
  color: #333333;
}
.text_white {
  color: #ffffff;
}
.white {
  background-color: #ffffff;
}
.gray_light {
  background-color: #969696;
}
.gray_lighter {
  background-color: #f4f4f4;
}
.gray_dark {
  background-color: #333333;
}
.blue_light {
  background-color: #6eb8e7;
}
.blue_darker {
  background-color: #42a3e0;
}
.blue_dark {
  background-color: #4d98c8;
}
.blue_darkest {
  background-color: #357ead;
}
.red {
  background-color: #ff6764;
}
.green_light {
  background-color: #78be6f;
}
.green_darker {
  background-color: #59ac4e;
}
.green_dark {
  background-color: #4f8e47;
}
.green_darkest {
  background-color: #3c6c36;
}
.border_gray {
  border-color: #969696;
}
.gallery img {
  cursor: pointer;
}
.toolbar {
  width: 100%;
  top: 50px;
  height: 44px;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
}
.navbtn:hover {
  background-color: #f4f4f4;
}
.stripes {
  background-image: url('http://s26.postimg.org/ftf7fe31h/line_stripe.jpg');
  height: 4px;
}
#fb {
  background-image: url('http://s26.postimg.org/t3ygv6485/icon_fb.png');
  height: 24px;
  width: 24px;
}
#fb:hover {
  background-image: url('http://s29.postimg.org/gtfaqlz77/icon_fbhover.png');
  height: 24px;
  width: 24px;
}
#logo-black {
  background-image: url('http://s26.postimg.org/e4jwcjrhh/logo_b.png');
  height: 85px;
  width: 112px;
}
#winter {
  background: url('http://s26.postimg.org/t36wkpvxj/winter.jpg') center bottom no-repeat;
  height: 381px;
  width: 100%;
}
#tennis {
  background-image: url('http://s26.postimg.org/e4647bnc9/img_tennis.jpg');
  height: 381px;
  width: 1280px;
}
.button_green {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  border-radius: 20px;
  box-shadow: 0px 7px 1px #4f8e47;
  background-color: #78be6f;
}
.button_blue {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  border-radius: 20px;
  box-shadow: 0px 7px 1px #4d98c8;
  background-color: #6eb8e7;
}
.arrow_blue_darker {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #42a3e0;
}
.arrow_blue_darkest {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #357ead;
}
.arrow_green_darker {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #59ac4e;
}
.arrow_green_darkest {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3c6c36;
}
.arrow_red {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ff6764;
}
.arrow_gray_dark {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333333;
}
.prices td {
  background-color: #ffffff;
  border: solid 2px #f4f4f4;
  padding: 5px;
}
.footer {
  background-color: #333333;
}
#logo-white {
  background-image: url('http://s26.postimg.org/6x4fbgcf9/logo_w.png');
  height: 58px;
  width: 75px;
}
