@color_default : #000000;
@color_gray : #969696;
@color_white : #ffffff;
@small : 5px;
@normal : 10px;
@big : 25px;

*{padding:0;margin:0;border:none;text-decoration:none;box-sizing:border-box;}

.center{margin: auto;}
.width_max{width: 100%;}

.left{float:left;}
.right{float:right;}

.clear{clear:both;overflow:hidden;}
.inline{display:inline-block;}
.op{opacity:0.5;}
.absolute{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed;}

.space_small{padding:@small;}
.space_normal{padding:@normal;}
.space_big{padding:@big;}

.text_center{text-align:center;}
.text_justify{text-align:justify;}
.text_up{text-transform:uppercase;}
.text_bold{font-weight:bold;}

.text_small{font-size:9px;}
.text_normal{font-size:14px;}
.text_big{font-size:18px;}
.text_large{font-size:22px;}
.text_extra{font-size:38px;}

.text_shadow{text-shadow: 1px 1px 1px #000000}

.border_small{border-width:1px;border-style:solid;border-color:@color_gray;}
.border_small_bot{border-bottom-width:1px;border-bottom-style:solid;}

.popup{min-width:1%;min-height:1%;display:none;background-color:#FFFFFF;border:2px solid #000000;position:fixed;z-index:10;}
.close{position:absolute;top:0px;right:0px;padding:15px;background-color:@color_default;color:@color_white;cursor:pointer;}
.fog{width:100%;height:100%;position:absolute;opacity:0.7;display:none;background-color:@color_default;top:0;}