@import "/app/views/_styles/default.less";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@color_white: #ffffff;
@color_gray_light: #969696;
@color_gray_lighter: #f4f4f4;
@color_gray_dark: #333333;
@color_blue_light: #6eb8e7;
@color_blue_darker: darken(@color_blue_light, 10%);
@color_blue_dark: #4d98c8;
@color_blue_darkest: darken(@color_blue_dark, 10%);
@color_green_light: #78be6f;
@color_green_darker: darken(@color_green_light, 10%);
@color_green_dark: #4f8e47;
@color_green_darkest: darken(@color_green_dark, 10%);
@color_red: #ff6764;

body{font-family:'Arial';}

.text_gray_light{color:@color_gray_light;}
.text_gray_dark{color:@color_gray_dark;}
.text_white{color:@color_white;}


.white{background-color:@color_white;}
.gray_light{background-color:@color_gray_light;}
.gray_lighter{background-color:@color_gray_lighter;}
.gray_dark{background-color:@color_gray_dark;}
.blue_light{background-color:@color_blue_light;}
.blue_darker{background-color:@color_blue_darker;}
.blue_dark{background-color:@color_blue_dark;}
.blue_darkest{background-color:@color_blue_darkest;}
.red{background-color:@color_red;}
.green_light{background-color:@color_green_light;}
.green_darker{background-color:@color_green_darker;}
.green_dark{background-color:@color_green_dark;}
.green_darkest{background-color:@color_green_darkest;}

.border_gray{border-color:@color_gray_light;}

.gallery img {cursor:pointer;}

.toolbar{width:100%;top:50px;height:44px;background-color:@color_white;position:fixed;top:0px;}
.navbtn:hover{background-color:@color_gray_lighter;}
.stripes{background-image:url('http://s26.postimg.org/ftf7fe31h/line_stripe.jpg');height:4px;}
#fb{background-image:url('http://s26.postimg.org/t3ygv6485/icon_fb.png');height:24px;width:24px;}
#fb:hover{background-image:url('http://s29.postimg.org/gtfaqlz77/icon_fbhover.png');height:24px;width:24px;}
#logo-black{background-image:url('http://s26.postimg.org/e4jwcjrhh/logo_b.png');height:85px;width:112px;}
#winter{background:url('http://s26.postimg.org/t36wkpvxj/winter.jpg') center bottom no-repeat;height:381px;width:100%;}
#tennis{background-image:url('http://s26.postimg.org/e4647bnc9/img_tennis.jpg');height:381px;width:1280px;}

.button_green{padding-top:10px;padding-bottom:10px;width:100px;border-radius:20px;box-shadow:0px 7px 1px @color_green_dark;background-color:@color_green_light;}
.button_blue{padding-top:10px;padding-bottom:10px;width:100px;border-radius:20px;box-shadow:0px 7px 1px @color_blue_dark;background-color:@color_blue_light;}

.arrow_blue_darker{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top: 10px solid @color_blue_darker;}
.arrow_blue_darkest{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top: 10px solid @color_blue_darkest;}
.arrow_green_darker{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top: 10px solid @color_green_darker;}
.arrow_green_darkest{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top: 10px solid @color_green_darkest;}
.arrow_red{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top: 10px solid @color_red;}
.arrow_gray_dark{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top: 10px solid @color_gray_dark;}

.prices td{background-color:@color_white;border:solid 2px @color_gray_lighter; padding:5px;}

.footer{background-color:@color_gray_dark;}
#logo-white{background-image:url('http://s26.postimg.org/6x4fbgcf9/logo_w.png');height:58px;width:75px;}